schedule:
  start_hour: 7
  end_hour: 22

timeout:
  active: 10
  down: 5
  response: 5

phrase:
  active: the internet connection is active
  down: the internet is currently unreachable
  normal: the internet speed is normal
  slow: the internet is speed currently slow

audio:
  active: audio/active.mp3
  down: audio/down.mp3
  slow: audio/slow.mp3
  normal: audio/normal.mp3

latency:
  min: 0.150
  count: 3
  beep_on_slow: false

leds:
  active_pin: 17
  latency_pin: 27

notify:
  active:
    voice: true
    led: false
  latency:
    voice: true
    led: false
    beep: true
